[Desktop Entry]
Version=1.0
Type=Application

Name=UK Crime
Comment=View Crimes reported to UK Police
Categories=Utility;

Icon=com.singingbush.ukcrime
Exec=com.singingbush.ukcrime
Terminal=false